<html>
<head>
	<title>Best Buy Theater</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
</head>
<body bgcolor="#000000">
<!-- RegionStart[ socialslot:"1026market",
	 title:"Artist",
	 description:"Artist"] -->
<table width="600" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td align="center" valign="top">
			<table width="600" cellpadding="0" cellspacing="0">
				<tr>
					<td height="40" align="center" colspan="2">
						<font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#666666">The Jagermeister Music Tour at VENUE on DATE, tickets are on sale Friday at TIME.<br/> View this message in your <a href="%%view_email_url%%" alias="chtv link"><font size="-2" face="Verdana, Arial, Helvetica, sans-serif" color="#666666">browser</font></a>.</font>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle" height="30">
						<font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#666666">share this email:</font> 
						<a href="%%=GetSocialPublishURL('1','1026market')=%%" alias="FB img" ><img src="http://info.aeglive.com/ecard/images/social/AEG_FB.jpg" alt="Facebook" width="16" height="16" align="absmiddle" /></a> 
						<a href="%%=GetSocialPublishURL('3','1026market')=%%" alias="Digg img" ><img src="http://info.aeglive.com/ecard/images/social/AEG_digg.jpg" alt="DIGG" width="16" height="16" align="absmiddle" /></a> 
						<a href="%%=GetSocialPublishURL('2','1026market')=%%" alias="Delicious img" ><img src="http://info.aeglive.com/ecard/images/social/AEG_deli.jpg" alt="Delicious" width="16" height="16" align="absmiddle" /></a> 
						<a href="%%=GetSocialPublishURL('4','1026market')=%%" alias="MS img" ><img src="http://info.aeglive.com/ecard/images/social/AEG_myspace.jpg" alt="MySpace" width="16" height="16" align="absmiddle" /></a> 
					</td>
					<td align="right"><a href="%%ftaf_url%%" alias="F2F link"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#666666">send to a friend</font></a>
					</td>
				</tr>
			</table>
			<!-- featured content -->		
			<table width="600" cellpadding="0" cellspacing="0">
				<tr>
					<td><img src="http://info.aeglive.com/ecard/images/websites/aeglive/example_card.jpg" width="600" height="668" style="display:block" /></td>
				</tr>
			</table>
			<!-- END featured content -->
			<table width="600" cellpadding="0" cellspacing="0">
				<tr>
					<td><a href="http://www.ticketmaster.com/event/2B00454BA2122466?camefrom=%œC%%&brand=bestbuythr" target="_blank" alias="bbLogo img"><img src="http://info.aeglive.com/ecard/bestbuy/2011/images/best_buy_theater.jpg" alt="Best Buy Theater" width="374" height="107" style="display:block" /></a></td>
					<td><a href="http://www.ticketmaster.com/event/2B00454BA2122466?camefrom=%œC%%&brand=bestbuythr" target="_blank" alias="buyTix img"><img src="http://info.aeglive.com/ecard/bestbuy/2011/images/buy_tix.jpg" alt="Click here to buy tix!" width="226" height="107" style="display:block" /></a></td>
				</tr>
				<tr>
					<td><a href="http://www.bestbuytheater.com" alias="BBwww img"> <img src="http://info.aeglive.com/ecard/bestbuy/2011/images/ftr_bestbuytheater.jpg" width="374" height="31" alt="Visit bestbuytheater.com" style="display:block" /></a></td>
					<td><a href="http://www.aeglive.com" alias="aegLogo img"> <img src="http://info.aeglive.com/ecard/bestbuy/2011/images/ftr_aeg.jpg" width="226" height="31" alt="Visit aeglive.com" style="display:block" /></a></td>
				</tr>
				<tr>
					<td colspan="2" align="left" valign="bottom">
						<table width="600" align="center" cellpadding="3" cellspacing="0">
							<tr>
								<td width="30%" height="25" align="left" valign="bottom">
									<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#666666"><a href="%%subscription_center_url%%" target="_blank" alias="unsubscribe"><font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#666666">Unsubscribe</font></a> <font color="#666666">|</font> 
									<a href="http://www.aeglive.com/privacy" target="_blank" alias="privacy policy"><font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#666666">Privacy Policy</font></a></font>
								</td>
								<td width="70%" align="right">
									<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#666666">© 2013 AEG Live. All Rights Reserved.<br />
									AEG Live Digital - 800 West Olympic Blvd, Los Angeles, CA 90015</font>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table><!-- RegionEnd[ socialslot:"1026market"] -->
<img src="http://pixel.inbox.exacttarget.com/pixel.gif?r=9aaf01f0a92c7129f80d6d13f0a9596553fd4c14&s=AEGLive&c=%%JobID%%&name=%%emailname_%%&X-campaignrp:AEGLive%%=Format(Now(),"MMddyyyyHHmmss")=%%" width="1" height="1" />
</body>
</html>