<html><head> <title>Goldenvoice</title> <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />


</head>
<body bgcolor="#bfbfbf" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- RegionStart[ socialslot:"0608market_PS",
    title:"ecardtitle/desc",
    description:"ecardtitle/desc"] -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#bfbfbf"> <tr> <td align="center" valign="top"> 

<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <td height="30" align="center" valign="middle">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#0f0f0f">The Civil Wars at VENUE on DATE, tickets are on sale Friday at TIME. View this message</font><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#0f0f0f"> <a href="%%view_email_url%%"><font size="-2" color="#666666">in a browser</font></a>.</font>
                </td>
            </tr>
    </table>
    <table id="Table_01" width="600" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td><a href="http://www.goldenvoice.com/norcal" alias="Goldenvoice logo"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_logo7_01.jpg" alt="Goldenvoice" width="212" height="50" border="0" style="display:block"></a></td>
		<td>
			<img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_sharethis7_02.jpg" alt="Share This Email" width="282" height="50" border="0" style="display:block"></td>
		<td><a href="%%=GetSocialPublishURL('1','0608market_PS')=%%" alias="fb"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_shareFB7_03.jpg" alt="Facebook" width="21" height="50" border="0" style="display:block"></a></td>
		<td><a href="%%=GetSocialPublishURL('11','0608market_PS')=%%" alias="twitter"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_shareTwitter7_04.jpg" alt="Twitter" width="20" height="50" border="0" style="display:block"></a></td>
		<td><a href="%%ftaf_url%%" target="send to a friend"  alias="f2f img"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_shareEmail7_05.jpg" alt="email" width="20" height="50" border="0" style="display:block"></a></td>
		<td><a href="%%=GetSocialPublishURL('3','0608market_PS')=%%" alias="digg"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_shareDigg7_06.jpg" alt="digg" width="20" height="50" border="0" style="display:block"></a></td>
		<td><a href="%%=GetSocialPublishURL('2','0608market_PS')=%%" alias="delicious"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_shareDel7_07.jpg" alt="Delicious" width="25" height="50" border="0" style="display:block"></a></td>
	</tr>
	<tr>
		<td>
			<img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_osFri7_08.jpg" width="212" height="26" alt="On Sale Now" style="display:block"></td>
		<td colspan="6">
			<img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_axsLogo7_03.jpg" alt="Get Your Tickets at axs.com" width="388" height="26" border="0" style="display:block"></td>
	</tr>
</table>
    <img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/ecard_pepper011609.jpg" alt="" width="600" height="524" />
    <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
    <td><a href="http://www.goldenvoice.com/norcal" alias="goldenvoice/norcal.com"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_url_10.jpg" alt="http://www.goldenvoice.com/norcal" width="153" height="23" border="0" style="display:block"/></a></td>
    <td><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_image_11.jpg" width="290" height="23" border="0" style="display:block"/></td>
    <td><a href="%%subscription_center_url%%" alias="unsubscribe"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_unsubscribe_12.jpg" alt="Unsubscribe" width="77" height="23" border="0" style="display:block"/></a></td>
    <td><a href="http://www.aeglive.com/privacy" alias="privacy policy"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_privacy_13.jpg" alt="Privacy Policy" width="80" height="23" border="0" style="display:block"/></a></td>
  </tr>
  <tr>
    <td>
    <table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_followus_14.jpg" alt="Follow us" width="64" height="33" style="display:block"/></td>
    <td><a href="http://twitter.com/goldenvoicesf" alias="follow us Twitter"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_followTwitter_15.jpg" alt="Twitter" width="22" height="33" border="0" style="display:block"/></a></td>
    <td><a href="http://www.facebook.com/goldenvoicesf " alias="follow us Facebook"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_followFB_16.jpg" alt="Facebook" width="22" height="33" border="0" style="display:block"/></a></td>
    <td><a href="http://foursquare.com/goldenvoice" alias="follow us foursquare"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_follow4sq_17.jpg" alt="Four Square" width="24" height="33" border="0" style="display:block"/></a></td> 
    <td><a href="http://www.flickr.com/photos/goldenvoice/" alias="follow us flickr"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_followFlkr_18.jpg" alt="Flickr" width="21" height="33" border="0" style="display:block"/></a></td>
  </tr>
</table>
    </td>
    <td><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_image_192012.jpg" width="290" height="33" border="0" style="display:block"/></td>
    <td colspan="2"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_image_20.jpg" width="157" height="33" border="0" style="display:block"/></td>
  </tr>
</table>
 </td></tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
 <tr>
 	<td align="center">
     <font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#0f0f0f">Event time &amp; date subject to change.<br>
     PLEASE DO NOT REPLY TO THIS MESSAGE.<br>
This is a marketing communicaiton only.
All replies are automatically deleted.</font>
     </td>
  </tr>
  </table>

 <!-- RegionEnd[ socialslot:"0608market_PS"] -->
 
 <img src="http://pixel.inbox.exacttarget.com/pixel.gif?r=9aaf01f0a92c7129f80d6d13f0a9596553fd4c14&s=AEGLive&c=%%JobID%%&name=%%emailname_%%&X-campaignrp:AEGLive%%=Format(Now(),"MMddyyyyHHmmss")=%%" width="1" height="1" />
</body></html> 
