<html><head> <title>Goldenvoice</title> <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<body bgcolor="#bfbfbf" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- RegionStart[ socialslot:"0327losangeles_PS",
    title:"Lady Antebellum Own the Night 2011 Tour",
    description:"Lady Antebellum Own the Night 2011 Tour"] -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#bfbfbf">
	<tr>
		<td align="center" valign="top">
		
		<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

				 <td height="30" align="left" valign="middle">
				 	<font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#0f0f0f">Presale Offer for Lady Antebellum, March 27 at STAPLES Center!<br>
				 	View this message</font><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#0f0f0f"> <a href="%%view_email_url%%"><font size="-2" color="#666666">in a browser</font></a>.</font></td>
              </tr>
    </table>

    <table width="599" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>

    <td width="212" rowspan="2"><a href="http://www.goldenvoice/norcal" alias="goldenvoice"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_logo_01.jpg" alt="Goldenvoice" width="212" height="76" border="0" style="display:block"/></a></td>
    <td width="387"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_ps_02.jpg" alt="Exclusive Presale" width="388" height="53" border="0" style="display:block"/></td>
  </tr>
  <tr>
    <td>
    <table border="0" cellspacing="0" cellpadding="0">
  <tr>

    <td><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_image_03.jpg" width="212" height="23" border="0" style="display:block"/></td>

    <td><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_shareemail_04.jpg" alt="Share this email" width="77" height="23" border="0" style="display:block"/></td>
    <td><a href="%%=GetSocialPublishURL('1','0327losangeles_PS')=%%" alias="facebook"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_shareFB_05.jpg" alt="Facebook" width="21" height="23" border="0" style="display:block"/></a></td>
    <td><a href="%%=GetSocialPublishURL('11','0327losangeles_PS')=%%" alias="Twitter"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_shareTwitter_05.jpg" alt="Twitter" width="18" height="23" border="0" style="display:block"/></a></td>
	<td><a href="%%ftaf_url%%" target="send to a friend"  alias="f2f img"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_shareEmail_06.jpg" alt="email" width="19" height="23" border="0" style="display:block"></a></td>
    <td><a href="%%=GetSocialPublishURL('3','0327losangeles_PS')=%%" alias="Digg"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_shareDigg_07.jpg" alt="Digg" width="18" height="23" border="0" style="display:block"/></a></td>
    <td><a href="%%=GetSocialPublishURL('2','0327losangeles_PS')=%%" alias="delicious"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_shareDel_08.jpg" alt="Delicious" width="23" height="23" border="0" style="display:block"/></a></td>
  </tr>
</table>
</td>
  </tr>

</table>

<!-- start content -->
<table width="600" height="908" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_">
  <tr>
    <td colspan="2"><a href="http://www.ticketmaster.com/cgi/outsider.plx?CAMEFROM=%%CFC%%&GOTO=http://www.ticketmaster.com/event/2C00476ADF7B4FED?brand=goldenvoice" target="_blank"  alias="LadyA_img1"><img src="http://info.aeglive.com/ecard/ladyantebellum/2012/images/0503newyork_aegPS_01.jpg" alt="Lady Antebellum Own the Night 2011 Tour" width="600" height="203" border="0" style="display:block"></a></td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://www.ticketmaster.com/cgi/outsider.plx?CAMEFROM=%%CFC%%&GOTO=http://www.ticketmaster.com/event/2C00476ADF7B4FED?brand=goldenvoice" target="_blank" alias="LadyA_img2"><img src="http://info.aeglive.com/ecard/ladyantebellum/2012/images/0503newyork_aegPS_02.jpg" alt="with Darius Rucker and special guest Thompson Square" width="600" height="451" border="0" style="display:block"></a></td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://www.ticketmaster.com/cgi/outsider.plx?CAMEFROM=%%CFC%%&GOTO=http://www.ticketmaster.com/event/2C00476ADF7B4FED?brand=goldenvoice" target="_blank" alias="LadyA_img3"><img src="http://info.aeglive.com/ecard/ladyantebellum/2012/images/0327losangeles_aegPS_03.jpg" alt="March 27 @ STAPLES Center - PRESALE STARTS THURSDAY 10AM!" width="600" height="137" border="0" style="display:block"></a></td>
  </tr>
  <tr>
    <td><a href="http://www.amazon.com/gp/redirect.html?ie=UTF8&location=http://www.amazon.com/Own-Night-Lady-Antebellum/dp/B0050CJNJ2/&tag=aeglive0a-20&linkCode=ur2&camp=1789&creative=9325" target="_blank" alias="LadyA_album"><img src="http://info.aeglive.com/ecard/ladyantebellum/2012/images/0503newyork_aegPS_04.jpg" alt="In Stores Now!" width="162" height="117" border="0" style="display:block"></a></td>
    <td><a href="http://www.ticketmaster.com/cgi/outsider.plx?CAMEFROM=%%CFC%%&GOTO=http://www.ticketmaster.com/event/2C00476ADF7B4FED?brand=goldenvoice" target="_blank" alias="LadyA_img4"><img src="http://info.aeglive.com/ecard/ladyantebellum/2012/images/0215denver_aegPS_05.jpg" alt="BUY TICKETS!  Public On Sale Friday 10am!" width="438" height="117" border="0" style="display:block"></a></td>
  </tr>
</table>
<!-- end content -->

<table width="600" border="0" cellspacing="0" cellpadding="0">

  <tr>
    <td><a href="http://www.goldenvoice/norcal" alias="goldenvoice/norcal.com"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_url_10.jpg" alt="http://www.goldenvoice/norcalhttp://www.goldenvoice/norcal" width="153" height="23" border="0" style="display:block"/></a></td>
    <td><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_image_11.jpg" width="290" height="23" border="0" style="display:block"/></td>
    <td><a href="%%subscription_center_url%%" alias="unsubscribe"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_unsubscribe_12.jpg" alt="Unsubscribe" width="77" height="23" border="0" style="display:block"/></a></td>

    <td><a href="http://www.aeglive.com/privacy" alias="privacy policy"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_privacy_13.jpg" alt="Privacy Policy" width="80" height="23" border="0" style="display:block"/></a></td>
  </tr>
  <tr>
    <td>

    <table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_followus_14.jpg" alt="Follow us" width="64" height="33" style="display:block"/></td>
    <td><a href="http://twitter.com/goldenvoice" target="_blank" alias="follow us Twitter"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_followTwitter_15.jpg" alt="Twitter" width="22" height="33" border="0" style="display:block"/></a></td>
    <td><a href="http://facebook.com/goldenvoice" target="_blank" alias="follow us Facebook"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_followFB_16.jpg" alt="Facebook" width="22" height="33" border="0" style="display:block"/></a></td>

    <td><a href="http://foursquare.com/goldenvoice" target="_blank" alias="follow us foursquare"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_follow4sq_17.jpg" alt="Four Square" width="24" height="33" border="0" style="display:block"/></a></td> 
    <td><a href="http://www.flickr.com/photos/goldenvoice/" target="_blank" alias="follow us flickr"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_followFlkr_18.jpg" alt="Flickr" width="21" height="33" border="0" style="display:block"/></a></td>
  </tr>
</table>

    </td>
    <td><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_image_19.jpg" width="290" height="33" border="0" style="display:block"/></td>
    <td colspan="2"><img src="http://info.aeglive.com/ecard/images/websites/goldenvoice/images/gv_image_20.jpg" width="157" height="33" border="0" style="display:block"/></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
 <tr>
 	<td align="center">
     <font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#0f0f0f">Event time &amp; date subject to change.<br>

     PLEASE DO NOT REPLY TO THIS MESSAGE.<br>
This is a marketing communicaiton only.
All replies are automatically deleted.</font>
     </td>
  </tr>
  </table>
		</td></tr></table>

 <!-- RegionEnd[ socialslot:"0327losangeles_PS"] -->
</body></html> 
