<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">


</head>
<body bgcolor="#000000" link="#FFFFFF" vlink="#FFFFFF">

<!-- RegionStart[ socialslot:"0416bakersfield_PS",
    title:"Rise Against",
    description:"Rise Against"] -->

<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="416" height="30" align="left" valign="middle"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#cccccc">Presale Offer for Rise Against, April 16th at Rabobank Theater, <br>
      Use password ENDGAME.
    View this message <a href="%%view_email_url%%"><font size="-2" color="#999999">in a browser</font></a>.</font></td>
    <td width="184" align="right"><font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#999999">share this email:</font> 
    
    <a href="%%=GetSocialPublishURL('1','0416bakersfield_PS')=%%" alias="Facebook" ><img src="http://info.aeglive.com/ecard/images/social/AEG_FB.jpg" alt="Facebook" width="16" height="16" border="0" align="absmiddle" /></a> 
    
    <a href="%%=GetSocialPublishURL('11','0416bakersfield_PS')=%%" alias="Twitter" ><img src="http://info.aeglive.com/ecard/images/social/AEG_twitter.jpg" alt="Facebook" width="16" height="16" border="0" align="absmiddle" /></a> 
    
    <a href="%%=GetSocialPublishURL('3','0416bakersfield_PS')=%%" alias="Digg" ><img src="http://info.aeglive.com/ecard/images/social/AEG_digg.jpg" alt="DIGG" width="16" height="16" border="0" align="absmiddle" /></a> 
    
    <a href="%%=GetSocialPublishURL('2','0416bakersfield_PS')=%%" alias="Delicious" ><img src="http://info.aeglive.com/ecard/images/social/AEG_deli.jpg" alt="Delicious" width="16" height="16" border="0" align="absmiddle" /></a></td>
  </tr>
</table>
<table width="600" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr bgcolor="#000000">
    <td width="600" height="61" bgcolor="#B3DFD8"><div align="center">
      <table width="100%" height="61" border="0" cellpadding="4" cellspacing="0">
        <tr>
          <td width="49%" height="61" valign="bottom" bgcolor="#030406"><font color="#C40000" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://www.goldenvoice.com" target="_blank"><img src="http://info.aeglive.com/gv/images/gv_logo_lg3.gif" alt="Goldenvoice" width="282" height="63" border="0" align="absmiddle"></a></font></td>
          <td width="51%" bgcolor="#030406"><div align="right"><font color="#C40000" size="4" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://goldenvoice.com/forum" target="_blank" alias="message board"><strong><font color="#FFFFFF">MESSAGE BOARD</font></strong></a><font color="#FFFFFF"><br>
            <a href="%%ftaf_url%%" target="send to a friend"  alias="f2f "><strong>FORWARD TO A FRIEND</strong></a></font></font></div></td>
        </tr>
      </table>
    </div></td>
  </tr>
  <tr bordercolor="#24263F" bgcolor="#24263F">
    <td height="475" bordercolor="#000000" bgcolor="#000000"><div align="center">
      <table width="600" height="817" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_">
        <tr>
          <td colspan="2"><a href="http://www.ticketmaster.com/cgi/outsider.plx?CAMEFROM=%%CFC%%&GOTO=http://www.ticketmaster.com/event/090047538A1A4837?brand=goldenvoice" target="_blank" alias="RiseAgainst_img1"> <img src="http://info.aeglive.com/ecard/riseagainst/2012/images/0122columbia_aegPS_01.jpg" width="600" height="350" border="0" alt="Rise Against" style="display:block"></a></td>
        </tr>
        <tr>
          <td colspan="2"><a href="http://www.ticketmaster.com/cgi/outsider.plx?CAMEFROM=%%CFC%%&GOTO=http://www.ticketmaster.com/event/090047538A1A4837?brand=goldenvoice" target="_blank" alias="RiseAgainst_img2"> <img src="http://info.aeglive.com/ecard/riseagainst/2012/images/0416bakersfield_aegPS_02.jpg" width="600" height="357" border="0" alt="Rise Against with A Day To Remember and Title Fight - On Sale Friday 10am! - BUY TICKETS!" style="display:block"></a></td>
        </tr>
        <tr>
          <td><a href="http://www.amazon.com/gp/redirect.html?ie=UTF8&location=http://www.amazon.com/Endgame/dp/B004QNIJW8/&tag=aeglive0a-20&linkCode=ur2&camp=1789&creative=9325" target="_blank" alias="RiseAgainst_img3"><img src="http://info.aeglive.com/ecard/riseagainst/2012/images/0122columbia_aegPS_03.jpg" alt="END GAME - Available Now!" width="101" height="110" border="0" style="display:block"></a></td>
          <td><a href="http://www.ticketmaster.com/cgi/outsider.plx?CAMEFROM=%%CFC%%&GOTO=http://www.ticketmaster.com/event/090047538A1A4837?brand=goldenvoice" target="_blank" alias="RiseAgainst_img4"> <img src="http://info.aeglive.com/ecard/riseagainst/2012/images/0416bakersfield_aegPS_04.jpg" width="499" height="110" border="0" alt="April 16 at Rabobank Theater - PRESALE STARTS THURSDAY 10AM!" style="display:block"></a></td>
        </tr>
      </table>
    </div></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="8" cellspacing="0">
  <tr>
    <td width="61%" height="25" align="left" valign="bottom"><a href="http://www.goldenvoice.com" target="_blank"><img src="http://info.aeglive.com/gv/images/gv_logo_sm.gif" alt="Goldenvoice" width="100" height="19" border="0"></a><br>
      <font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">800 West Olympic Blvd, Los Angeles, CA 90015</font></td>
    <td width="39%" align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#999999"><a href="%%subscription_center_url%%" target="_blank" alias="unsubscribe"><font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#999999">Unsubscribe</font></a> <font color="#0f0f0f">|</font> <a href="http://www.aeglive.com/privacy" target="_blank" alias="privacy policy"><font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#999999">Privacy Policy</font></a><br>
      &copy; 2013 AEG Live. All Rights Reserved.<br>
    </font></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#999999"><br>
      Event time &amp; date subject to change.<br>
      PLEASE DO NOT REPLY TO THIS MESSAGE.<br>
      This is a marketing communicaiton only.
      All replies are automatically deleted.</font></td>
  </tr>
</table>

<!-- RegionEnd[ socialslot:"0416bakersfield_PS"] -->

<img src="http://pixel.inbox.exacttarget.com/pixel.gif?r=9aaf01f0a92c7129f80d6d13f0a9596553fd4c14&s=AEGLive&c=%%JobID%%&name=%%emailname_%%&X-campaignrp:AEGLive%%=Format(Now(),"MMddyyyyHHmmss")=%%" width="1" height="1" />

</body>
</html>