<html>
<head>
<title>AEG Live</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
</head>
<body bgcolor="#ffffff">
<!-- RegionStart[ socialslot:"1026market",
     title:"Artist",
     description:"Artist"] -->
<table width="600" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table width="600" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" colspan="2"><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#666666">The Jagermeister Music Tour at VENUE on DATE, tickets are on FRIDAY at TIME.<br/> View this message in a <a href="%%view_email_url%%" alias="chtv link"><font size="-2" face="Verdana, Arial, Helvetica, sans-serif" color="#b7b7b7">browser</font></a>.</font>
          </td>
        </tr>
        <tr>
          <td align="left" height="30"> <font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#666666">share this email:</font> 
            <a href="%%=GetSocialPublishURL('1','1026market')=%%" target="_blank" alias="Facebook" ><img src="http://info.aeglive.com/ecard/images/social/AEG_FB.jpg" alt="Facebook" width="16" height="16" align="absmiddle" /></a>
            <a href="%%=GetSocialPublishURL('11','1026market')=%%" target="_blank" alias="Twitter" ><img src="http://info.aeglive.com/ecard/images/social/AEG_twitter.jpg" alt="Twitter" width="16" height="16" align="absmiddle" /></a>
            <a href="%%=GetSocialPublishURL('3','1026market')=%%" target="_blank" alias="Digg" ><img src="http://info.aeglive.com/ecard/images/social/AEG_digg.jpg" alt="DIGG" width="16" height="16" align="absmiddle" /></a> 
            <a href="%%=GetSocialPublishURL('2','1026market')=%%" target="_blank" alias="Delicious" ><img src="http://info.aeglive.com/ecard/images/social/AEG_deli.jpg" alt="Delicious" width="16" height="16" align="absmiddle" /></a> 
          </td>
          <td align="right"><a href="%%ftaf_url%%" target="_blank" alias="f2f link"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#666666">send to a friend</font></a></td>
        </tr>
        <tr>
          <td colspan="2"><img src="http://info.aeglive.com/ecard/images/venues/midlandthe/header.jpg" width="600" height="76" alt="The Midland by AMC" style="display:block" /><img src="http://info.aeglive.com/ecard/images/venues/midlandthe/os_friday_axs.jpg" width="600" height="30" alt="On Sale Friday"  style="display:block"/></td>
        </tr>
      </table>
      <table width="600" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <!-- Content goes here -->
      <img src="http://info.aeglive.com/ecard/images/websites/aeglive/example_card.jpg" width="600" height="668" alt="example eCard" style="display:block" />
         <!-- End Content -->
        </tr>
      </table>
      <table id="Table_01" width="600" height="27" cellpadding="0" cellspacing="0" bgcolor="#660000">
        <tr>
          <td width="78" height="27" align="left"> <a href="http://www.aeglive.com/" target="_blank" alias="aeglive img"><img src="http://info.aeglive.com/ecard/images/venues/midlandthe/aegLogo.gif" alt="AEG Live" width="78" height="27" /></a></td>
          <td width="448" align="center"><font color="#FFFFFF" size="1" face="Verdana, Geneva, sans-serif"><b>For more info visit <a href="http://www.midlandkc.com/" target="_blank" alias="web link"><font color="#FF9933">MidlandKC.com</font></a></b></font></td>
          <td width="74" align="right"><img src="http://info.aeglive.com/ecard/images/venues/midlandthe/cornerBTrt.gif" width="29" height="27" alt="" /></td>
        </tr>
      </table>
      <table width="600" cellspacing="0" cellpadding="3">
        <tr>
          <td width="34%" height="25" align="left"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#666666"><a href="%%subscription_center_url%%" target="_blank" alias="unsubscribe link"><font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#666666">Unsubscribe</font></a> <font color="#0f0f0f">|</font> <a href="http://www.aeglive.com/privacy" target="_blank" alias="privacy link"><font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#666666">Privacy Policy</font></a></font></td>
          <td width="66%" align="right" ><font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#666666">&copy; 2013 AEG Live. All Rights Reserved.<br> AEG Live Digital - 800 West Olympic Blvd, Los Angeles, CA 90015</font></td>
        </tr>
        <tr>
          <td height="25" colspan="2" align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#666666"><br />
          Event Time &amp; Date Subject To Change.<br />
          PLEASE DO NOT REPLY TO THIS MESSAGE.
          <br />
          This is a marketing communication only. All replies are automatically deleted. </font></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- RegionEnd[ socialslot:"1026market"] -->
<img src="http://pixel.inbox.exacttarget.com/pixel.gif?r=9aaf01f0a92c7129f80d6d13f0a9596553fd4c14&s=AEGLive&c=%%JobID%%&name=%%emailname_%%&X-campaignrp:AEGLive%%=Format(Now(),"MMddyyyyHHmmss")=%%" width="1" height="1" />
</body>
</html>