<html>
<head>
<title>AEG Live</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
</head>
<body bgcolor="#000000">
<!-- RegionStart[ socialslot:"1026market",
     title:"Artist",
     description:"Artist"] -->  
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td height="40" align="center">
      <font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#b7b7b7">Presale Offer for The Jagermeister Music Tour, Thursday 10am to 10pm, use password KOMPBUCK.<br/> View this message in a <a href="%%view_email_url%%" alias="chtv link"><font size="-2" face="Verdana, Arial, Helvetica, sans-serif" color="#b7b7b7">browser</font></a>.</font>
  </tr>
  <tr>
    <td align="center"> <!-- Content goes here -->
      <img src="http://info.aeglive.com/ecard/images/websites/aeglive/example_card.jpg" width="600" height="668" alt="example eCard" style="display:block" />
                        <!-- End Content -->
	  </td>
  </tr>
  <tr>
    <td align="center">
	    <table width="600" border="0" cellspacing="0" cellpadding="3">
    		<tr>
    			<td width="23%" height="25" align="left">
            <a href="http://www.aeglive.com/" target="_blank"><img src="http://info.aeglive.com/ecard/images/aeg_logo_000.gif" alt="AEG Live" width="55" height="26" border="0" /></a>
          </td>
    			<td width="77%" align="right" >&nbsp;</td>
    		</tr>
    	</table>
    </td>
  </tr>
</table>
<img src="http://pixel.inbox.exacttarget.com/pixel.gif?r=9aaf01f0a92c7129f80d6d13f0a9596553fd4c14&s=AEGLive&c=%%JobID%%&name=%%emailname_%%&X-campaignrp:AEGLive%%=Format(Now(),"MMddyyyyHHmmss")=%%" width="1" height="1" />
</body>
</html>